# This is a Python Tutorial

This is our first program

In [1]:
print('Hello World')

Hello World

a=b+c

$a=b+c$

# Variables

In [2]:
x=3

In [3]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     3

In [4]:
print(type(x))

<class 'int'>

In [5]:
x=5.7

In [6]:
%whos

Variable   Type     Data/Info
-----------------------------
x          float    5.7

In [7]:
print(type(x))

<class 'float'>

In [8]:
abcd=556.32

In [9]:
%whos

Variable   Type     Data/Info
-----------------------------
abcd       float    556.32
x          float    5.7

In [10]:
a,b,c,d=3,4.5,'Spam',9

In [11]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
abcd       float    556.32
b          float    4.5
c          str      Spam
d          int      9
x          float    5.7

In [12]:
del abcd

In [13]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
b          float    4.5
c          str      Spam
d          int      9
x          float    5.7

In [16]:
c=2+7j

# Tuple and List assignments. Are similar in what they do as objects on the right are paired with targest on the left. Also called sequence assignment.

In [17]:
spam,yum='Ham','Dam'#Tuple Assignment

In [18]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        3
b          float      4.5
c          complex    (2+7j)
d          int        9
spam       str        Ham
x          float      5.7
yum        str        Dam

In [19]:
[Ariel,Ombura]=['Achila','Achweezy'] #List Assignment

In [20]:
%whos

Variable   Type       Data/Info
-------------------------------
Ariel      str        Achila
Ombura     str        Achweezy
a          int        3
b          float      4.5
c          complex    (2+7j)
d          int        9
spam       str        Ham
x          float      5.7
yum        str        Dam

In [21]:
a,b,c,d='Spam'#here 'S' is assigned to a,'p'to b,'a' to c, and 'm' to d as can be shown below

In [22]:
%whos

Variable   Type     Data/Info
-----------------------------
Ariel      str      Achila
Ombura     str      Achweezy
a          str      S
b          str      p
c          str      a
d          str      m
spam       str      Ham
x          float    5.7
yum        str      Dam

In [26]:
a,*b='Spam' #b returns a list of all elements excluding a
print(a)
print(b)

S
['p', 'a', 'm']

In [25]:
%whos

Variable   Type     Data/Info
-----------------------------
Ariel      str      Achila
Ombura     str      Achweezy
a          str      S
b          list     n=3
c          str      a
d          str      m
spam       str      Ham
x          float    5.7
yum        str      Dam

In [27]:
k,*l='Ariel' #extended assignment l holds the firts character while l holds the rest in a list.

In [28]:
%whos

Variable   Type     Data/Info
-----------------------------
Ariel      str      Achila
Ombura     str      Achweezy
a          str      S
b          list     n=3
c          str      a
d          str      m
k          str      A
l          list     n=4
spam       str      Ham
x          float    5.7
yum        str      Dam

In [30]:
slam=Hum='Lunch' #multiple-target assignment bothe slam and Hum are variables that hold Lunch
print(slam)
print(Hum)

Lunch
Lunch

In [37]:
x=55
x+=42 #Augmented assignment
print(x)
t=40
t+=4
print(t)

97
44

In [42]:
[a,b,c]=('A','B','C') #List Tuple assignment

In [43]:
a,b

('A', 'B')

In [44]:
a

'A'

In [47]:
#Tuple String assignment
(a,b,c)='ABC'

In [48]:
a,b

('A', 'B')

In [49]:
string='SPAM'

In [51]:
#Tuple Assigment
a,b,c=string[0],string[1],string[2:]

In [52]:
c

'AM'

In [53]:
a,b,c=list(string[:2])+[string[2:]]

In [54]:
a,b,c

('S', 'P', 'AM')

In [55]:
red,green,blue=range(3)

In [56]:
red,green

(0, 1)

In [57]:
red,green,blue

(0, 1, 2)

In [58]:
a,*b='Spam'

In [59]:
a,b

('S', ['p', 'a', 'm'])

In [60]:
for (a, *b, c) in [(1, 2, 3, 4), (5, 6, 7, 8)]:#using extended assignments on loops
    print(a,*b,c)

1 2 3 4
5 6 7 8

# Multiple Target Assignments

In [61]:
a=b=c='Ariel'

In [62]:
a

'Ariel'

In [63]:
c

'Ariel'

In [70]:
a=b=0 #multiple target assignments are useful when initializing variable to zero(immutable objects)

In [71]:
b+=4 #Augmenting one of the variables in the assignment above

In [72]:
a,b

(0, 4)

In [83]:
L=[2,3]

In [84]:
L

[2, 3]

In [85]:
L+=[1,5] #Augmented assigment of lists.Similar to list concatenation

In [86]:
L

[2, 3, 1, 5]

In [87]:
L.sort() #Inplace rearrangment of list

In [88]:
L

[1, 2, 3, 5]

In [89]:
L.extend([4]) #Another method of list concatenation. An analogue to dictionary/set's update

In [90]:
L

[1, 2, 3, 5, 4]

In [91]:
L.extend([5])

In [92]:
L

[1, 2, 3, 5, 4, 5]

In [93]:
L.remove(4)

In [94]:
L

[1, 2, 3, 5, 5]

In [95]:
L+=[6,7]

In [96]:
L

[1, 2, 3, 5, 5, 6, 7]

# Bool

In [97]:
a=True
b=True
c=False

In [98]:
%whos

Variable   Type    Data/Info
----------------------------
Ariel      str     Achila
Hum        str     Lunch
L          list    n=7
Ombura     str     Achweezy
a          bool    True
b          bool    True
blue       int     2
c          bool    False
d          str     m
green      int     1
k          str     A
l          list    n=4
red        int     0
slam       str     Lunch
spam       str     Ham
string     str     SPAM
t          int     44
x          int     97
y          str     Ariel
yum        str     Dam

In [99]:
a and b #if both are true and are considered together i.e and then the statement is True

True

In [100]:
a and c #if one statement is false then the statement is false

False

In [101]:
c and a

False

In [102]:
d= a or c

In [104]:
d #When one of the booleans is True then the statement is True

True

In [105]:
not a #Not reverses the boolean

False

In [106]:
not b

False

In [107]:
not c

True

In [108]:
not d

False

In [109]:
type(d)

bool

In [110]:
(a and b) or c

True

In [111]:
(a or b) and c

False

# comparisons

In [112]:
2<3

True

In [113]:
2.0 ==2

True

In [114]:
2.0 is 2 #This is false because is considers even the types of the elements

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-114-ca312149f221>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  2.0 is 2

False

In [115]:
3==4

False

In [116]:
x=4
y=9
z=8.3
r=-3

In [117]:
(x<y) and (x<r)

False

In [118]:
#And is given precedence
False and False or True

True

In [121]:
True and False or False

False

In [119]:
not True

False

In [120]:
not(True)

False

# Useful Functions

In [123]:
#rounds the floating point numbers to the nearest whole number
round(5.6231)

6

In [125]:
#Number of decimal places defined
round(4.55842,2)

4.56

In [130]:
#divmod returns a Tuple of the quotient and the remainder/modulus
divmod(27,5)

(5, 2)

In [127]:
divmod(12,6)

(2, 0)

In [128]:
divmod(34,9)

(3, 7)

In [131]:
#checks if a certain/particular value belongs to a given type.
#helps determine value stored in a particular variable
isinstance(1,int)

True

In [132]:
isinstance(1.0,int)

False

In [134]:
#checks whether it is either integer or float
isinstance(1.0,(int,float))

True

In [135]:
isinstance(2+3j,(complex))

True

In [136]:
isinstance('Ariel',str)

True

# Power

In [138]:
#This raises 2 to the power four
pow(2,4)

16

In [141]:
#This should return the modulus of the first entry exponentiated to the second divided by the third
pow(2,4,7)

2

In [142]:
pow(4,2,2)

0

In [143]:
pow(4,2,5)

1

In [145]:
a=input("Name:")# the entry is always a string

Name: Ariel Ombura

# Control Flow

In [148]:
a=int(input())
b=int(input())
if a>b:
    print(a)
    print('a is greater than b')
elif b>a:
    print('b is greater than a')
else:
    print('wos good')

 2
 3

b is greater than a

In [149]:
Marks=float(input())
if (Marks >= 85):
    print('Grade A')
elif (Marks < 85) and (Marks >= 80):
    print('Grade A-')
elif (Marks < 80) and (Marks >= 75):
    print('Grade B+')
elif (Marks < 75) and (Marks >= 70):
    print('Grade B')
else:
    print('Below Average')

 3

Below Average

In [150]:
a = int(input())
if a > 10:
    print('Larger than 10')
    print('Inside the top if')
    if a > 20:
        print('Larger than 20')
        print('inside the nested if')
    else:
        print('Less than or equal to 20')
        print("inside the nested if else part")
else:
    print("Whatever dude")

 6

Whatever dude

In [151]:
x=input('Enter Name: ')
if (x=='Roger'):
    print('Shave and haircut')
elif (x=='bug'):
    print("What's up doc")
else:
    print("Run away! Run away!")

Enter Name:  John

Run away! Run away!

In [153]:
#Dictionary selection
choice='ham'
print({'spam':1.25,
      'ham':1.99,
      'eggs':0.99,
      'bacon':1.10}[choice])

1.99

In [154]:
# if statement for the dictionary above
choice=input()
if choice=='spam':
    print(1.25)
elif choice=='ham':
    print(1.99)
elif choice=='eggs':
    print(0.99)
elif choice=='bacon':
    print(1.10)
else:
    pass

 eggs

0.99

In [155]:
choice=input()
branch={'spam':1.25,
      'ham':1.99,
      'eggs':0.99,
      'bacon':1.10}
if choice in branch:
    print(choice)
else:
    print('Bad choice')

 bread

Bad choice

In [157]:
#Using the get method
choice=str.lower(input())
branch={'spam':1.25,
      'ham':1.99,
      'eggs':0.99,
      'bacon':1.10}
print(branch.get(choice,'bad choice'))

 Spam

1.25

In [160]:
#Exception
choice=input()
branch={'spam':1.25,
      'ham':1.99,
      'eggs':0.99,
      'bacon':1.10}
try:
    print(branch[choice])
except KeyError:
    print('bad choice')

 Sperm

bad choice

In [161]:
x=float(input('Enter a real number: '))

Enter a real number:  45

In [173]:
round(-9.6)

-10

# While Loop

In [174]:
n=int(input('Enter real number: '))
i=1
while (i<n):
    print(i,end=' ')
    i+=1
print('Done')

Enter real number:  5

1 2 3 4 Done

In [175]:
n=int(input('Max iterations: '))
i=1
while (i<=n):
    if i%2==0:
        print(i)
        print('It is even')
    else:
        pass
    i+=1
print('I am Done')

Max iterations:  5

2
It is even
4
It is even
I am Done

In [179]:
n=10
i=1
while True:
    if i%9==0:
        break
    else:
        print(i,end=' ')
        i+=1
print('Yoda!')

1 2 3 4 5 6 7 8 Yoda!

In [180]:
n=10
i=1
while True:
    if i%9!=0:
        print(i,end=' ')
        i+=1
        continue
    print('Something')
    break
print('Something else')

1 2 3 4 5 6 7 8 Something
Something else

In [182]:
x='Spam'
while x:
    print(x,sep=' ')
    x=x[1:]

Spam
pam
am
m

In [183]:
a=0;b=10
while a<=b:
    print(a, end=' ')
    a+=1

0 1 2 3 4 5 6 7 8 9 10

In [184]:
x=...
print(x)

Ellipsis

In [185]:
x=10
while x:
    x-=1
    if x%2!=0:
        continue
    print(x,end=' ')

8 6 4 2 0

In [186]:
x=10
while x:
    if x%2==0:
        print(x,end=' ')
    x-=1

10 8 6 4 2

In [187]:
while True:
    name=input('Enter Name:')
    if name == 'Stop':
        break
    age=input('Enter age: ')
    print('Hello', name, '=>', int(age) ** 2)

Enter Name: stop
Enter age:  5

Hello stop => 25

Enter Name: Stop

In [188]:
L=[]
for i in range(0,10,2):
    L.append(i)
print(L)

[0, 2, 4, 6, 8]

In [189]:
L=[]
for i in range(10):
    print(i+1,end=' ')
    L.append(i**2)
print(L)

1 2 3 4 5 6 7 8 9 10 [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [192]:
S={'Fruit','Apple','Ounces',6.9,'Sticky','Cherry'}
k=1
for i in S:
    print(i)
    k+=1
    if k==3:
        break
    else:
        pass
else:
    print('All iterations completed')
print('Outside the loop')

6.9
Cherry
Outside the loop

In [193]:
D={'Fruit':'Apple','Ounces':6.9,'Sticky':'Cherry'}
for x in D:
    print(x)

Fruit
Ounces
Sticky

In [194]:
List=[1,2,4,-5,7,9,3,2]
k=[]
for i in List:
    k.append(i)
    k.sort()
print(k)

[-5, 1, 2, 2, 3, 4, 7, 9]

In [195]:
L=[1,2,4,-5,7,9,3,2]
for j in range(len(L)):
    m=L[j]
    idx=j
    c=j
    for i in range(j,len(L)):
        if L[i]<m:
            m=L[i]
            idx=c
        c+=1
    tmp=L[j]
    L[j]=m
    L[idx]=tmp
print(L)

[-5, 1, 2, 2, 3, 4, 7, 9]

In [196]:
min(L)

-5

In [197]:
isinstance(9,int)

True

In [257]:
#Similar to help
isinstance?
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

Signature: isinstance(obj, class_or_tuple, /)
Docstring:
Return whether an object is an instance of a class or of a subclass thereof.

A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
or ...`` etc.
Type:      builtin_function_or_method

In [204]:
isinstance(9,float)

False

In [205]:
pow(9,2,5)

1

In [206]:
divmod(9,2)

(4, 1)

In [207]:
#Working with zip
t=[1,2,3,4,5]
q=[6,7,8,9,0]
print(list(zip(t,q))) #This helps support parallel iterations

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 0)]

In [208]:
for (x,y) in list(zip(t,q)):
    print(x+y)

7
9
11
13
5

In [209]:
D={}
L1=['Spam','eggs','toast']
L2=[1,3,5]
p=list(zip(L1,L2))
for (x,y) in p:
    D[x]=y
print(D)

{'Spam': 1, 'eggs': 3, 'toast': 5}

# Generating offset and items: Enumerate

In [210]:
#Traditionally this was done with simple for loops as shown below
t='Ariel'
offset=0
for i in t:
    print((i,offset),end='')
    offset+=1

('A', 0)('r', 1)('i', 2)('e', 3)('l', 4)

In [211]:
d=enumerate(t)

In [212]:
list(d)

[(0, 'A'), (1, 'r'), (2, 'i'), (3, 'e'), (4, 'l')]

In [233]:
r='Achila'
#enumerate takes an iterable and starting point for its counter.
#This returns the elements of the iterable with its index
h=enumerate(r,start=0)
#next(h) #With this I can access the various tuple pair of value and offset(index)
for (x,y) in h:
    print((x,y),end=' ')

(0, 'A') (1, 'c') (2, 'h') (3, 'i') (4, 'l') (5, 'a')

In [240]:
k='Ombura'
t=enumerate(k)
#With next() you can access the various tuple pair of value and offset(index)
#next() used to fetch next item from a collection
next(t)
next(t)
next(t)

(2, 'b')

In [254]:
L=[1,2,3,4,5]
#Iter converts an iterable to an iterator
I=iter(L)
#we can retrieve elements of the iterable by the method __next__()
I.__next__()

1

In [258]:
L=[1,2,3,4,5]
for i in range(len(L)):
    L[i]+=10
print(L)

[11, 12, 13, 14, 15]

In [260]:
#list comprehension
t=[x+10 for x in L]
t

[21, 22, 23, 24, 25]

In [261]:
#nested loops using List comprehensions
k=[x+y for x in 'abc' for y in 'xyz']
k

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

In [263]:
#zip generating tuples of two string literals
x=list(zip('Ariel','Sham'))
x

[('A', 'S'), ('r', 'h'), ('i', 'a'), ('e', 'm')]

Filter

In [270]:
filter?

Init signature: filter(self, /, *args, **kwargs)
Docstring:
filter(function or None, iterable) --> filter object

Return an iterator yielding those items of iterable for which function(item)
is true. If function is None, return the items that are true.
Type:           type
Subclasses:

In [271]:
list(filter(bool,[0,10,9]))

[10, 9]

In [272]:
list(filter(bool,[False,False,True]))

[True]

In [273]:
list(filter(bool,[0,0,0]))

[]

In [276]:
list(filter(bool,'Ariel'))

['A', 'r', 'i', 'e', 'l']

# Functions

In [277]:
def printSuccess():
    print("You're alright")
    print("I am me")

In [278]:
printSuccess()

You're alright
I am me

# Functions(Doc String)

In [279]:
def printSuccess2():
    """Does nothing but print hello"""# Doc String needed for future clarity
    print('Hello')

In [280]:
def printmessage(msg):
    """prints the argument"""
    if isinstance(msg,str):
        print(msg)
    else:
        print('are you mad')

In [281]:
printmessage(11)

are you mad

In [282]:
def printMessage(msg1,msg2):
    print(msg1,msg2)

In [283]:
printMessage('Ariel','Achila')

Ariel Achila

In [284]:
def myPow(a,b):
    c=a**b
    return c

In [285]:
myPow(8,2)

64

In [286]:
pow(8,2)

64

In [287]:
def Kwali(a,b,c,d,k):
    k=int(input('Enter Marks: '))
    Dct={'A':12,'A-':11,'B+':10,'B':9,'B-':8,'C+':7,'C':6,'C-':5}
    if a in Dct.keys()and b in Dct.keys() and c in Dct.keys()and d in Dct.keys():
        x=((((Dct[a]+Dct[b]+Dct[c]+Dct[d])/48)*(k/84))**(1/2))*48
        return x

In [288]:
Kwali('A','A','A','A','k')

Enter Marks:  45

35.1324026261472

# Function taking any number of arguments

In [289]:
def add(x,y):
    return x+y

In [290]:
add(2,3)

5

In [291]:
def add2(*args): #*args allows a list of values
    sum=0
    for item in range(len(args)):
        sum+=args[item]
    return sum

In [292]:
add2(9,11)

20

In [293]:
def printAllVariablesNamesAndValues(**args):# fixes order of the arbitrary entries
    for x in args:
        print('Variable Name is:',x,'And Value is:',args[x])

In [294]:
printAllVariablesNamesAndValues(a=2,b=3,c=4)

Variable Name is: a And Value is: 2
Variable Name is: b And Value is: 3
Variable Name is: c And Value is: 4

# Function Default Values

In [295]:
def f(sum=0):
    """If you do not supply an argument to this function
    upon calling it, it will return zero"""
    return sum

In [296]:
f(4)

4

To create a module create a python file. Basically a .py file

To access the file, do the below

import sys

sys.path.append('F:\MyMod')

To access a specific function:

import Module_name.specific_function

You could specify the name/mnemonic for the function for ease of access as follows:

import Module_name as Mn

To access specific function:

Mn.specific_function

In [302]:
def FindMin(L,startIndx):
    m=L[startIndx]
    idx=startIndx
    for i in range(startIndx,len(L)):
        x=L[i]
        if i<m:
            m=x
            idx=i
        else:
            pass
    return m,idx

In [303]:
a,b=FindMin([1,3,-4,7,0,5],0)

In [304]:
a

1

In [305]:
b

0

In [306]:
def swapValues(L,idx1,idx2):
    tmp=L[idx1]
    L[idx1]=L[idx2]
    L[idx2]=tmp
    return L

In [307]:
swapValues([1,3,-4,7,0,5],1,2)

[1, -4, 3, 7, 0, 5]

# Revisting if Statements

In [311]:
branch={'Spam':0.25,
       'eggs':1.99,
       'ham':0.99}
print(branch.get('spam','bad choice'))
# The get method Used with dictionary to test for missing keys
# Get method as a test for membership

bad choice

In [312]:
D={'Ariel':'First name','Achila':'Sir name'}

In [313]:
D['Ombura']='Middle name' # expanding dictionary

In [314]:
D

{'Ariel': 'First name', 'Achila': 'Sir name', 'Ombura': 'Middle name'}

In [315]:
'Garvin' in D

False

In [316]:
if 'Garvin' not in D:
    print(False)

False

In [317]:
print(D.get('Garvin','False'))

False

In [318]:
"""The get method is a a good way of passing values to keys that aren't part of the Dictionary"""
D = {'spam': 2, 'ham': 1, 'eggs': 3}
print(D.get('Porridge'))# if the get method is called for a missing value. None is the default response

None

In [319]:
D.get('Porridge','88')

'88'

In [320]:
D

{'spam': 2, 'ham': 1, 'eggs': 3}

In [321]:
x=1;y=2;print(x) #Python allows for multiple statements on the same line
x=input();y=input()

1

 3
 4

In [322]:
"""When you update a dictinary, it works like concatenation in strings."""
D1={'Ariel':'First','Ombura':'Middle','Achila':'Last'}
D2={'Maureen':'Girl','Ngallo':'Friend'}
D1.update(D2)
D1

{'Ariel': 'First',
 'Ombura': 'Middle',
 'Achila': 'Last',
 'Maureen': 'Girl',
 'Ngallo': 'Friend'}

# While and For loops revisted

In [323]:
x='Spam'
while x:
    x=x[1:]
    print(x,end=' ')

pam am m

In [324]:
a=0;b=10
while a<b:
    print(a, end=',')
    a+=1

0,1,2,3,4,5,6,7,8,9,

In [325]:
E=[1,2,3,4,5,6]

In [326]:
t=enumerate(E)
print(list(t))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6)]

In [327]:
x=9
while x:
    x=x-1
    if x%2!=0:continue
    print(x,end=' ')

8 6 4 2 0

In [328]:
while True:
    import string
    name=input().lower()
    if name=='stop':break
    else:pass
    age=int(input('Enter age: '))
    print('Hello',name,'=>',age**2)

 Jello
Enter age:  80

Hello jello => 6400

 stop

In [329]:
y=int(input())
x=y//2
while x>1:
    if y%x==0:
        print(y, 'has factor of',x)
        break
    x-=1
else:
    print(y ,'is prime')

 9

9 has factor of 3

In [332]:
sum=0
for x in [1,2,3,4]:
    sum=sum+x
    print(sum,end=' ')

1 3 6 10

# Tuple assignment in For loops

In [333]:
T=[(1,2),(3,4),(5,6)]
for (a,b) in T:
    print(a+b,end=' ')

3 7 11

In [334]:
for (a,b,c) in [(1,2,3),(4,5,6),(7,8,9)]:
    print(round(a*b/c,4),end=' ')

0.6667 3.3333 6.2222

In [335]:
a,*b,c=1,2,3,4

In [336]:
b

[2, 3]

In [337]:
for (a,*b,c) in [(1,2,3,4),(5,6,7,8)]:
    print(a,b,c)

1 [2, 3] 4
5 [6, 7] 8

In [338]:
L1=[1,2,3,4]
L2=[5,6,7,8]
list(zip(L2,L1))

[(5, 1), (6, 2), (7, 3), (8, 4)]

In [339]:
x=99 #this creates a global variable
def func():
    x=88 #this is a local variable
    return x

In [340]:
print(x)
y=func()
print(y)

99
88

In [341]:
y,z=2,3
def all_global_add():
    global x
    x=y+z
    return x

print(x)

99

# Assignments

In [359]:
def f_ind(a,b=2,c=3): #use of defaults
    return a,b,c

In [360]:
#for the above function the argument will be for a
f_ind(1)

(1, 2, 3)

In [362]:
#to alter the others You can always be a bit more specific with the defaults
f_ind(4,b=8)

(4, 8, 3)

In [363]:
#Will always return 1
def fnc(*args):
    L=1
    return L

In [364]:
fnc(7,4)

1

In [374]:
def f(*args):
    return args

In [373]:
f(1,2,3)

(1, 2, 3)

In [379]:
def F(a,b=6,*args,**kargs):
    print(a,b)
    for i in args:
        for item in i:
            print(item,end=' ')
    print(kargs)

In [380]:
F(7,8,[1,2,3],[4,5,6],[7,8,9],k=4,c=7)

7 8
1 2 3 4 5 6 7 8 9 {'k': 4, 'c': 7}

In [382]:
args=([1,2,3,4],[5,6,7,8])
for i in args:
        for item in i:
            print(item,end=' ')

1 2 3 4 5 6 7 8

In [395]:
def t(*kargs):
    for i in kargs:
        for item in i:
            print(item,end=' ')

In [396]:
t([1,2,3],[4,5,6],[7,8,9])

1 2 3 4 5 6 7 8 9

# Arguments and Shared References

In [397]:
def f(a):
    a=88
    return a

In [398]:
f(90)

88

In [399]:
b=99
def G(b):
    print(b)
G(b)

99

In [400]:
def changer(a,b):
    a=2
    b[0]='spam'
    
    return a,b
changer(8,[1,3,4,5])

(2, ['spam', 3, 4, 5])

In [401]:
def k(a,b,c,d):
    print(a,b,c,d)

In [402]:
args=[1,2]
args+=[3,4]
k(*args)

1 2 3 4

In [403]:
args={'a':1,'b':2,'c':3}
args['d']=4
k(**args)

1 2 3 4

In [407]:
def fls(**args):
    print(args)

In [408]:
#**args takes a dictionary
fls(a=1,b=2)

{'a': 1, 'b': 2}

# Unpacking Arguments

In [409]:
def f(a,b,c,d):
    print(a,b,c,d)
args=(1,2)
args+=(3,4)
f(*args)

1 2 3 4

In [410]:
(1,2)+(3,4)

(1, 2, 3, 4)

In [411]:
args={'a':1,'b':2,'c':3}
args['d']=4
f(**args)

1 2 3 4

In [412]:
f(*(1,2),**{'c':3,'d':4})

1 2 3 4

In [413]:
f(1,*(2,3),**{'d':4})

1 2 3 4

# Advanced Functions

In [416]:
#Recursion
def mysum(L):
    print(L)
    if not L:
        return 0
    else:
        return L[0]+mysum(L[1:])

In [415]:
L=1,2,3
mysum(L)

(1, 2, 3)
(2, 3)
(3,)
()

6

In [3]:
MySum([1,2,3,4,5,6])

0

21

In [4]:
def Mywhilesum(L):
    sum=0
    while L:
        sum+=L[0]
        L=L[1:]
    return sum

In [5]:
Mywhilesum([1,2,3])

6

In [6]:
def sumtree(L):
    tot=0
    for x in L:
        if not isinstance(x,list):
            tot+=x
        else:
            tot+=sumtree(x)
    return tot

In [7]:
L = [1, [2, [3, 4], 5], 6, [7, 8]]
sumtree(L)

36

# Function Objects

In [8]:
def echo(message):
    return message

In [9]:
echo('Achila')

'Achila'

In [10]:
x=echo #Functions assigned to variables
x('Ariel')

'Ariel'

In [11]:
def indirect(func,args): #passing a function as an argument in a function
    return func(args)

In [12]:
indirect(echo,'Ombura')

'Ombura'

In [13]:
schedule=[(echo,'URL'),(echo,'ER')] #functions being stuffed in data structures
for func,arg in schedule:
    print(func(arg))

URL
ER

In [14]:
def func(a):
    b='Ariel'
    return (a*b)

In [15]:
dir(func)

['__annotations__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

# lambda

In [16]:
"""Lambda general format:
lambda argument1,argument2,argument3,argument4:expressions"""
f=lambda x,y,z:x+y+z

In [17]:
f(10,20,30)

60

In [18]:
 x = (lambda a="fee", b="fie", c="foe": a + b + c)# defaults work in lambda just as in def statements

In [19]:
x('wie')

'wiefiefoe'

In [20]:
L=[lambda x:x**2,lambda x:x**3,lambda x:x**4] # used to code jump tables through lists and dictionaries
for f in L:
    print(f(2))
print(L[0](3))

4
8
16
9

In [21]:
key='got'
{'already': (lambda: 2 + 2),
'got': (lambda: 2 * 4),
'one': (lambda: 2 ** 6)}[key]()

8

In [25]:
lower = (lambda x, y: x if x < y else y) #this is acceptable just as with function
hype=(lambda a,b:((a and b) or c))

In [26]:
hype(2,3)

3

In [27]:
lower(2,3)

2

lambda is used for simple inline executable expressions

In [28]:
def action(x):
    return (lambda y: x + y)#nesting of lambdas(best avoided)

In [29]:
act=action(99)

In [30]:
act(2)

101

In [31]:
pow(2,3,3)

2

# Filter

In [37]:
list(range(-5,5))
list(filter((lambda x:x>0),range(-5,5)))# Returns values for which the condition/lambda is true

[1, 2, 3, 4]

In [38]:
list(map((lambda x:x>0),range(-5,5))) #Compare filter to the map function which subjects the elements to a boolean test

[False, False, False, False, False, False, True, True, True, True]

# Reduce

Takes two argumensts:
    
    Function
    
    iterable
    
Returns a singele value gained as result of applying the function to the iterable

Basically:
    
    reduce(function,iterable)

In [39]:
from functools import reduce
reduce((lambda x,y:x+y),[1,2,3,4])

10

In [40]:
reduce((lambda x,y:x*y),[1,2,3,4])

24

# Comprehensions and Generators

In [42]:
list(map(ord,'Ariels')) #ord returns ordinates of the characters

[65, 114, 105, 101, 108, 115]

In [44]:
#Basically this is what the map function does
k='Ariels'
res=[]
for x in k:
    res.append(ord(x))
print(res)

[65, 114, 105, 101, 108, 115]

In [45]:
res=[ord(x) for x in k] #using list comprehension
res

[65, 114, 105, 101, 108, 115]

In [46]:
sq=[x**2 for x in range(10)]
sq

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [47]:
list(map((lambda x:x**2),range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
list(filter((lambda x:x>0),range(-5,5)))

[1, 2, 3, 4]

In [49]:
from functools import reduce
reduce((lambda x,y:x*y),[1,2,3,4])

24

In [51]:
list(filter((lambda x:x%2==0),range(11))) #returns all even numbers in range(11)

[0, 2, 4, 6, 8, 10]

In [53]:
[x for x in range(11)if x%2==0] #basically does the above

[0, 2, 4, 6, 8, 10]

In [54]:
list(map((lambda x:x%2==0),range(11)))

[True, False, True, False, True, False, True, False, True, False, True]

In [55]:
[x**2 for x in range(11) if x%2==0]

[0, 4, 16, 36, 64, 100]

In [58]:
#map general format: map(function,iterable[,iterable1,...,iterableN])
list(map(lambda x:x**2,(filter((lambda x:x%2==0),range(11))))) # here the filter function weeds out even numbers in range 11

[0, 4, 16, 36, 64, 100]

In [59]:
res=[x+y for x in [1,2,3] for y in [100,200,300,400,500]] #nested for loops in list comprehensions
res

[101, 201, 301, 401, 501, 102, 202, 302, 402, 502, 103, 203, 303, 403, 503]

In [61]:
[x + y for x in 'spam' if x in 'sm' for y in 'SPAM' if y in ('P', 'A')] #More nested list comprehensions

['sP', 'sA', 'mP', 'mA']

In [62]:
#yet more list comprehensions with if statement(test)
[x + y + z for x in 'spam' if x in 'sm'
for y in 'SPAM' if y in ('P', 'A')
for z in '123' if z > '1']

['sP2', 'sP3', 'sA2', 'sA3', 'mP2', 'mP3', 'mA2', 'mA3']

In [63]:
[(x, y) for x in range(5) if x % 2 == 0 for y in range(5) if y % 2 == 1]

[(0, 1), (0, 3), (2, 1), (2, 3), (4, 1), (4, 3)]

In [64]:
res=[]
for x in range(5):
    if x%2==0:
        for y in range(5):
            if y%2==1:
                res.append((x,y))
print(res)

[(0, 1), (0, 3), (2, 1), (2, 3), (4, 1), (4, 3)]

# comprehensions and Matrices

In [68]:
M=[[1,2,3],[4,5,6],[7,8,9]];N=[[2,2,2],[3,3,3],[4,4,4]] #simple statements written on one line

In [69]:
N

[[2, 2, 2], [3, 3, 3], [4, 4, 4]]

In [70]:
M[0][2]

3

In [71]:
[(x,y)for x in M[0] for y in N[0]]

[(1, 2), (1, 2), (1, 2), (2, 2), (2, 2), (2, 2), (3, 2), (3, 2), (3, 2)]

In [72]:
[k[1] for k in M]

[2, 5, 8]

In [73]:
M=[[1,2,3],[4,5,6],[7,8,9]]
print([row[1] for row in M])
print([row[0] for row in M])
print([row[2] for row in M])

[2, 5, 8]
[1, 4, 7]
[3, 6, 9]

In [74]:
[M[row][0] for row in (0, 1, 2)] #Obtaining the first column

[1, 4, 7]

In [77]:
[M[row][1] for row in (0, 1, 2)] #Obtaining the second column

[2, 5, 8]

In [78]:
[M[row][2] for row in (0, 1, 2)] #Obtaining the third column. You get the point

[3, 6, 9]

In [79]:
[M[i][i] for i in range(len(M))] #Leading Diagonal

[1, 5, 9]

In [80]:
[M[i][len(M)-1-i] for i in range(len(M))] #Anti-Diagonal/counter diagonal

[3, 5, 7]

# Generator Functions and Expressions

In [81]:
def gensquares(N):
    for i in range(0,N,2):
        yield i**2

Generator-Functions:
    defined as a normal function but whenever it needs to generate a value it does so with a yield keyword
    rather than the return keyword
Generator-Object:
    the generator function returns a generator object which are used either by calling
    the next method on the generator object or using the geneartor object in a 'for in' loop.
Basically a generator function returnd a generator object that is iterable.

In [86]:
for i in gensquares(5):
    print(i,end=' ')

0 4 16

In [87]:
x=gensquares(8)
next(x)

0

In [88]:
next(x)

4

In [89]:
next(x)

16

In [90]:
def football(x,y):
        if x>y:
            print('x wins')
        elif y>x:
            print('y wins')
        elif x==y and (x+y)<2.5:
            print('It is a draw')
        elif (x+y)>2.5:
            print('over 2.5')
        else:
            pass
        yield

In [95]:
t=football(2,2)
next(t)

over 2.5

In [96]:
for i in football(3,1):
    print(i)

x wins
None

In [97]:
t=football(2,3)

In [98]:
next(t)

y wins

In [99]:
def buildsquares(n):
    res=[]
    for i in range(n):
        res.append(i**2)
    return res

In [100]:
buildsquares(5)

[0, 1, 4, 9, 16]

In [101]:
list(map((lambda x:x**2),range(5)))

[0, 1, 4, 9, 16]

# Modules and Packages

import sys
sys.path.append('F:\MyMod')

import My_Universal_Functions as mysfs
mysfs.checkifnotnumeric([1,2,3,4])

# Miscellaneous

In [106]:
T="""The for loop assigns a variable to successive items in a sequence (here, a string) and
executes one or more statements for each item. In effect, the variable c becomes a cursor
stepping across the string’s characters here."""
L=[]
for i in T:
    L.append(ord(i))
print(L)

[84, 104, 101, 32, 102, 111, 114, 32, 108, 111, 111, 112, 32, 97, 115, 115, 105, 103, 110, 115, 32, 97, 32, 118, 97, 114, 105, 97, 98, 108, 101, 32, 116, 111, 32, 115, 117, 99, 99, 101, 115, 115, 105, 118, 101, 32, 105, 116, 101, 109, 115, 32, 105, 110, 32, 97, 32, 115, 101, 113, 117, 101, 110, 99, 101, 32, 40, 104, 101, 114, 101, 44, 32, 97, 32, 115, 116, 114, 105, 110, 103, 41, 32, 97, 110, 100, 10, 101, 120, 101, 99, 117, 116, 101, 115, 32, 111, 110, 101, 32, 111, 114, 32, 109, 111, 114, 101, 32, 115, 116, 97, 116, 101, 109, 101, 110, 116, 115, 32, 102, 111, 114, 32, 101, 97, 99, 104, 32, 105, 116, 101, 109, 46, 32, 73, 110, 32, 101, 102, 102, 101, 99, 116, 44, 32, 116, 104, 101, 32, 118, 97, 114, 105, 97, 98, 108, 101, 32, 99, 32, 98, 101, 99, 111, 109, 101, 115, 32, 97, 32, 99, 117, 114, 115, 111, 114, 10, 115, 116, 101, 112, 112, 105, 110, 103, 32, 97, 99, 114, 111, 115, 115, 32, 116, 104, 101, 32, 115, 116, 114, 105, 110, 103, 8217, 115, 32, 99, 104, 97, 114, 97, 99, 116, 101, 114, 115, 32, 104, 101, 114, 101, 46]

In [107]:
L1=[]
for i in L:
    L1.append(chr(i))
print(L1)

['T', 'h', 'e', ' ', 'f', 'o', 'r', ' ', 'l', 'o', 'o', 'p', ' ', 'a', 's', 's', 'i', 'g', 'n', 's', ' ', 'a', ' ', 'v', 'a', 'r', 'i', 'a', 'b', 'l', 'e', ' ', 't', 'o', ' ', 's', 'u', 'c', 'c', 'e', 's', 's', 'i', 'v', 'e', ' ', 'i', 't', 'e', 'm', 's', ' ', 'i', 'n', ' ', 'a', ' ', 's', 'e', 'q', 'u', 'e', 'n', 'c', 'e', ' ', '(', 'h', 'e', 'r', 'e', ',', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g', ')', ' ', 'a', 'n', 'd', '\n', 'e', 'x', 'e', 'c', 'u', 't', 'e', 's', ' ', 'o', 'n', 'e', ' ', 'o', 'r', ' ', 'm', 'o', 'r', 'e', ' ', 's', 't', 'a', 't', 'e', 'm', 'e', 'n', 't', 's', ' ', 'f', 'o', 'r', ' ', 'e', 'a', 'c', 'h', ' ', 'i', 't', 'e', 'm', '.', ' ', 'I', 'n', ' ', 'e', 'f', 'f', 'e', 'c', 't', ',', ' ', 't', 'h', 'e', ' ', 'v', 'a', 'r', 'i', 'a', 'b', 'l', 'e', ' ', 'c', ' ', 'b', 'e', 'c', 'o', 'm', 'e', 's', ' ', 'a', ' ', 'c', 'u', 'r', 's', 'o', 'r', '\n', 's', 't', 'e', 'p', 'p', 'i', 'n', 'g', ' ', 'a', 'c', 'r', 'o', 's', 's', ' ', 't', 'h', 'e', ' ', 's', 't', 'r', 'i', 'n', 'g', '’', 's', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's', ' ', 'h', 'e', 'r', 'e', '.']

In [108]:
L1[186]

'a'

In [109]:
print(list(map(chr,L)))

['T', 'h', 'e', ' ', 'f', 'o', 'r', ' ', 'l', 'o', 'o', 'p', ' ', 'a', 's', 's', 'i', 'g', 'n', 's', ' ', 'a', ' ', 'v', 'a', 'r', 'i', 'a', 'b', 'l', 'e', ' ', 't', 'o', ' ', 's', 'u', 'c', 'c', 'e', 's', 's', 'i', 'v', 'e', ' ', 'i', 't', 'e', 'm', 's', ' ', 'i', 'n', ' ', 'a', ' ', 's', 'e', 'q', 'u', 'e', 'n', 'c', 'e', ' ', '(', 'h', 'e', 'r', 'e', ',', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g', ')', ' ', 'a', 'n', 'd', '\n', 'e', 'x', 'e', 'c', 'u', 't', 'e', 's', ' ', 'o', 'n', 'e', ' ', 'o', 'r', ' ', 'm', 'o', 'r', 'e', ' ', 's', 't', 'a', 't', 'e', 'm', 'e', 'n', 't', 's', ' ', 'f', 'o', 'r', ' ', 'e', 'a', 'c', 'h', ' ', 'i', 't', 'e', 'm', '.', ' ', 'I', 'n', ' ', 'e', 'f', 'f', 'e', 'c', 't', ',', ' ', 't', 'h', 'e', ' ', 'v', 'a', 'r', 'i', 'a', 'b', 'l', 'e', ' ', 'c', ' ', 'b', 'e', 'c', 'o', 'm', 'e', 's', ' ', 'a', ' ', 'c', 'u', 'r', 's', 'o', 'r', '\n', 's', 't', 'e', 'p', 'p', 'i', 'n', 'g', ' ', 'a', 'c', 'r', 'o', 's', 's', ' ', 't', 'h', 'e', ' ', 's', 't', 'r', 'i', 'n', 'g', '’', 's', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's', ' ', 'h', 'e', 'r', 'e', '.']

In [113]:
int('1101',2) #converts string from binary

13

In [114]:
int('1101',10) #converts string base 10

1101

In [115]:
int('1101',0) #interpret the base from the string as an integer literal

1101

In [117]:
bin(13) #converts interger to binary

'0b1101'

In [ ]:
df.head(10)

In [ ]:
from ipywidgets import interact,interactive,fixed,interact_manual