Sets are unordered 

mutable

have no duplicates

In [4]:
#Creating a set from a list
X=set(['Ariel','Ombura','Achila','Man'])
print(X)
Y={'Mason','Greenwood','Eleven','Man'}
print(Y)

{'Man', 'Ombura', 'Ariel', 'Achila'}
{'Mason', 'Man', 'Eleven', 'Greenwood'}

In [5]:
# Creating a Tuple of two sets without parenthesis
X,Y

({'Achila', 'Ariel', 'Man', 'Ombura'}, {'Eleven', 'Greenwood', 'Man', 'Mason'})

In [6]:
#Intersection:returning common elements to both the sets
X&Y

{'Man'}

In [38]:
#Alternatively
odds={1,3,5,7,9,11}
prime={2,3,5,7,11}
i=odds.intersection(prime)
print(i)

{11, 3, 5, 7}

In [7]:
#Union: Combines the sets
X|Y

{'Achila', 'Ariel', 'Eleven', 'Greenwood', 'Man', 'Mason', 'Ombura'}

In [37]:
#Alternatively you can do it this way
odds={1,3,5,7,9,11}
prime={2,3,5,7,11}
even={2,4,6,8}
#This creates a new object
#As can be seen, this combines two sets without duplication
u=odds.union(even)
print(u)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11}

In [41]:
#Difference between sets
#returns elements in the first set that are not in the second set
print(X-Y)
print(Y-X)

{'Ombura', 'Ariel', 'Achila'}
{'Mason', 'Eleven', 'Greenwood'}

In [42]:
#Alternatively
setA=set([3,4,5,6,7,8,9])
setB=set([6,7,8,9,10])
diff1=setA.difference(setB)
diff2=setB.difference(setA)
print(diff1)
print(diff2)

{3, 4, 5}
{10}

In [43]:
#Symmetric difference
#returns a set with all the elements in both sets but not elements in both sets
setA=set([3,4,5,6,7,8,9])
setB=set([6,7,8,9,10])
S_diff=setA.symmetric_difference(setB)
S_diff

{3, 4, 5, 10}

In [10]:
#Superset/subset testing
X>Y

False

In [11]:
V={1,2,3,4,5,6};U={3,4}
V>U

True

In [50]:
#Alternatively
U.issubset(V)

True

In [52]:
V.issuperset(U)

True

In [54]:
#Using the disjoint method
#Used to check if two sets contain a null intersection i.e no same elements
#Returns True is the intersection is null
V={1,2,3,4,5,6}
U={3,4,5}
W={7,9}
print(V.isdisjoint(U))
print(V.isdisjoint(W))

False
True

In [12]:
#Set Comprehension
{n ** 2 for n in [1, 2, 3, 4]}

{1, 4, 9, 16}

In [15]:
#Order-neutral equality test.
#Case sensitive
set('Ariel')==set('leirA')

True

Sets also support in membership tests, though all other collection types in Python do
too

In [16]:
'A' in set('Ariel'), 'A' in 'Ariel', 'Ariel' in ['Ariel', 'Ombura', 'Achila']

(True, True, True)

In [23]:
#Adding elements to a set
My_set=set()

My_set.add(1)
My_set.add(2)
My_set.add(3)
My_set.add(4)

My_set

{1, 2, 3, 4}

In [24]:
#Removing elements using the remove method
My_set.remove(3)
My_set

{1, 2, 4}

In [26]:
#Removing using dicard elements
My_set.discard(4)
My_set

{1, 2}

In [28]:
#To empty sets using the clear method
My_set.clear()
My_set

set()

In [33]:
#Applying the pop method on the set
Her_list=set([11,22,33,44,55])
print(Her_list)
#Deletes and returns a random value as sets are unordered
Her_list.pop()

{33, 11, 44, 22, 55}

33

In [45]:
#Use the update method to modify set inplace
setA=set([3,4,5,6,7,8,9])
setB=set([6,7,8,9,10])
setA.update(setB)
setA

{3, 4, 5, 6, 7, 8, 9, 10}

In [46]:
#use intersection_update to modify set inplace
setA=set([3,4,5,6,7,8,9])
setB=set([6,7,8,9,10])
setA.intersection_update(setB)
setA

{6, 7, 8, 9}

In [47]:
#Use the difference_update method to modify set inplace
setA=set([3,4,5,6,7,8,9])
setB=set([6,7,8,9,10])
setA.difference_update(setB)
setA

{3, 4, 5}

In [48]:
#Use the symmetric_difference_update to modify set inplace
setA=set([3,4,5,6,7,8,9])
setB=set([6,7,8,9,10])
setA.symmetric_difference_update(setB)
setA

{3, 4, 5, 10}

In [56]:
#Copying is better done with the copy method as with the other collections and mapping
setA=set([3,4,5,6,7,8,9])
SetA_copy=setA.copy()
SetA_copy

{3, 4, 5, 6, 7, 8, 9}

# Frozen Set

Immutable

works with any iterable

In [57]:
a=frozenset([2,3,4,5,6,7])
a

frozenset({2, 3, 4, 5, 6, 7})

In [59]:
dir(frozenset())

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']