In [1]:
#Creating strings
print(str(9))
print('8')

9
8

# Indexing

In [2]:
a='Game of programming' #a is a string variable

In [3]:
#Slicing
a[0:4]

'Game'

In [4]:
#Copy
a[:]

'Game of programming'

In [5]:
#Copying everything except the last article
a[:-1]

'Game of programmin'

In [6]:
#Reverse Copying
a[::-1]

'gnimmargorp fo emaG'

In [8]:
#slicing everything from the eighth last index to the third but not including the third last index
a[-8:-3]

'gramm'

In [9]:
#slicing everything from the third index to the end
a[3:]

'e of programming'

In [23]:
#More Slicing
n='This is Python'
n[:-2]

'This is Pyth'

In [24]:
#indexing
n[len(n)-2]

'o'

In [26]:
n[-2] #similar to the above

'o'

In [27]:
n[1:-2]

'his is Pyth'

In [30]:
#Step copying. Copies every other character
n[::2]

'Ti sPto'

In [39]:
#This returns a reverse copy
n[len(n)::-1]

'nohtyP si sihT'

In [43]:
n[14::-1]

'nohtyP si sihT'

In [48]:
n[12::-1]

'ohtyP si sihT'

In [49]:
n[11::-1]

'htyP si sihT'

In [50]:
n[14:0:-1]

'nohtyP si sih'

In [51]:
n[11:1:-1]

'htyP si si'

In [52]:
n[11:1:-2]

'hy is'

# Escape Sequences in Strings

In [11]:
#Includes a newline escape sequence \n and a tab escape sequence
print('a\nb\tc')

a
b	c

In [13]:
print('\ta\nb\n\tc')# More of the above

	a
b
	c

In [15]:
#checking for the numbet of characters in a string with escape sequences
#The sequences are counted as part of the strings
len('\ta\nb\n\tc')

7

In [16]:
#More of the tab
print('Ariel\tOmbura')

Ariel	Ombura

# String Methods and Attributes

In [18]:
#Checking whether a substring is in a string

Name='Ariel Ombura'
'Omb' in Name

True

In [19]:
'omb' in Name #case sensitive

False

In [7]:
#Find method returns the start index of the first instance of elements in a string
t="""The for loop assigns a variable to successive items in a sequence (here, a string) and
executes one or more statements for each item. In effect, the variable c becomes a cursor
stepping across the string’s characters here."""
print(t.find('across'))
print(t.find('a')) #return the index of the first occurrence of a
print(t.find('Achweezy')) #returns negative one if the substring isn't found

186
13
-1

In [21]:
t[186:192]

'across'

In [8]:
#Count method:Used to count the frequency of occurrence in a substring in a string
t.count('i')

10

In [4]:
# Replace method
# This creates a new object as is shown below
k='Ariel'
k.replace('A','LED')
print(k)

Ariel

In [5]:
k='Ariel'
y=k.replace('A','LED')
print(y)

LEDriel

In [8]:
#Replaces all instances of 'the' with 'Ariel'
z=t.replace('the','Ariel')
print(z)

The for loop assigns a variable to successive items in a sequence (here, a string) and
executes one or more statements for each item. In effect, Ariel variable c becomes a cursor
stepping across Ariel string’s characters here.

# File Formatting

In [5]:
#here the %s stands for a string and %d for a digit/number
#the order matches the values in the Tuple
#here also %f works for float and %g for generic number
line='this is %s %d rat'%('a',1)
print(line)

this is a 1 rat

In [6]:
'this is %d %s %d rat'%(1,'a',1)

'this is 1 a 1 rat'

In [11]:
#Lets look at %f
'%.3f is pi'%(3.14285714) #You can specify the number of decimal places in your float

'3.143 is pi'

In [16]:
#Another method of string formatting
#this orders the values by index in the format call
L_ne='this is {0} {1} rat'.format('a','dead')
Lne='this is {1} {0} rat'.format('a','dead')
print(L_ne)
print(Lne)

this is a dead rat
this is dead a rat

In [13]:
#Yet another format. Perhaps the most common that I come across
#The f-string notation
#Lets creats some variables
a='a'
b='dead'
print(f'this is {a} {b} rat')

this is a dead rat

In [13]:
#f-strings are evaluated at at run time
f'this is the modulus {7%3}'

'this is the modulus 1'

In [14]:
f'this is the modulus {8%3}'

'this is the modulus 2'

In [15]:
#Accessing arguments by position
'{0},{1},{2}'.format('a','b','c')

'a,b,c'

In [19]:
'{2},{1},{0}'.format('a','b','c') #Reverses the order

'c,b,a'

In [20]:
'{},{},{}'.format('a','b','c') #takes order as default

'a,b,c'

In [23]:
'{0},{1},{2}'.format(*'abc') #Unpacking the argument sequence

'a,b,c'

In [24]:
'{0},{1},{0}'.format('abra','cad')

'abra,cad,abra'

In [12]:
#More with f and d
'this is {:.2f}'.format(3.14285714)

'this is 3.14'

# Splitting into lists and joining back

In [30]:
#This creates a list of the elements split a long defined points
line='aaa bbb ccc'
Line=line.split()
print(line)
print(Line)

aaa bbb ccc
['aaa', 'bbb', 'ccc']

In [32]:
L_ine='arrarty,hjjkkk,gghjjj,'
lyne=L_ine.split(',')
print(lyne)

['arrarty', 'hjjkkk', 'gghjjj', '']

In [33]:
#joining them too does happen along specified characters
' '.join(Line)

'aaa bbb ccc'

In [34]:
','.join(lyne)

'arrarty,hjjkkk,gghjjj,'

In [45]:
line = "\nThe knights who say Ni!\n"
line

'\nThe knights who say Ni!\n'

In [46]:
#this rstrip removes the newline character from the end of the line
End_stripped_line=line.rstrip()
End_stripped_line

'\nThe knights who say Ni!'

In [49]:
#this rstrip removes the newline character at the start of the line
Start_stripped_line=line.lstrip()
Start_stripped_line

'The knights who say Ni!\n'

In [53]:
#You can specify any characters to be removed at the end of the line or string doesn't have to be newline character

h='Husband wife'
print(h.lstrip('H'))
print(h.rstrip('fe'))

usband wife
Husband wi

In [4]:
#Handling whitespace

dear=" Hello World "
Dr=dear.strip()
Dr

'Hello World'

# Other common string methods

In [54]:
#Converts characters to upper case
line.upper()

'\nTHE KNIGHTS WHO SAY NI!\n'

In [57]:
#Converts characters to upper case
Line='ARIEL OMBURA ACHILA TRYING PYTHON'
Line.lower()

'ariel ombura achila trying python'

In [58]:
line.isalpha()

False

In [59]:
line.endswith('\n')

True

In [60]:
Line.endswith('\n')

False

In [63]:
line.startswith('\n')

True

In [62]:
Line.startswith('The')

False